body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #FFFFF0;
}

header {
    background: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

section {
    padding: 2em;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content .text {
    max-width: 60%;
}

.content img {
    max-width: 35%;
    height: auto;
    border-radius: 10px;
    border: 2px solid black;
}

form input, form textarea, form button {
    display: block;
    width: 100%;
    margin-bottom: 1em;
}

button {
    background: #4CAF50;
    color: white;
    padding: 0.5em;
    border: none;
}